* {
    /* border: 1px solid #000000; */
    font-family: Lato;
}

#landing {
    background-color: #e5e5e5;
    width: 100vw;
    height: 100vh;
    display: flex;
    
}

#landing-greeting {
    justify-content: center;
    align-items: center;
    width: 100%;
    color: #000000;
    flex-direction: column;
    font-size: 1.4rem;
    text-align: center;
}

h1 {
    font-family: Bree Serif;
    color: #787C7E;
}

#landing-head {
    color: #000000;
    font-size: 4.5rem;
}

#keyboard {
    width: 485px;
    justify-content: center;
    flex-wrap: wrap;
}

#game-container {
    width: 350px; 
    flex-direction: column;
}

.row {
    justify-content: center;
}

.tile {
    width: 60px;
    height: 60px;
    margin: 5px 5px 0 0;
    border: 2px solid #D3D6DA;
    font-size: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}


.key, .key-wide {
    background-color: #D3D6DA;
    width: 40px;
    height: 60px;
    margin: 5px 5px 0 0;
    border: 1px solid #D3D6DA;
    border-radius: 4px;
    font-size: 1.3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #000000 !important;
}

.key-wide {
    width: 60px;
    font-size: 1rem;
    color: #000000 !important;
}

.green {
    background-color: #6AAA65;
    color: #FFFFFF;
    border: 2px solid #6AAA65;
}

.yellow {
    background-color: #C9B458;
    color: #FFFFFF;
    border: 2px solid #C9B458;
}

.light-grey {
    background-color: #D3D6DA;
}

.dark-grey {
    background-color: #787C7E;
    color: #FFFFFF;
    border: 2px solid #787C7E;
}

#logo, .instructions-demo {
    border: 1px solid #000000;
    width: 200px;
}

.logo-tile, .instructions-tile {
    height: 40px;
    width: 40px;
    border: 1px solid #000000;
    justify-content: center;
    align-items: center;
}

.fa-lemon {
    color: #000000;
}

.hidden-popover {
    height: 0px;
    border: 0px !important;
}

.underline-letter {
    text-decoration: underline double;
    text-emphasis: 0;
}

.modal-link a {
    color: #505050 !important;
}

.modal-link a:hover {
    color: #6AAA65 !important;
}