* {
    /* border: 1px solid black; */
    font-family: Lato;
}

h1 {
    font-family: Bree Serif;
    color: #787C7E;
}

#game-space, #keyboard {
    margin: auto;
    width: 485px;
    justify-content: center;
    border: 1px solid black;
    flex-wrap: wrap;
}

.tile {
    width: 10vw;
    width: 60px;
    height: 60px;
    aspect-ratio: 1/1;
    margin: 5px 5px 0 0;
    border: 2px solid #D3D6DA;
    font-size: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}


.key {
    background-color: #D3D6DA;
    width: 40px;
    height: 60px;
    margin: 5px 5px 0 0;
    border: 1px solid #D3D6DA;
    border-radius: 4px;
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;

}

.key-wide {
    background-color: #D3D6DA;
    width: 60px;
    height: 60px;
    margin: 5px 5px 0 0;
    border: 1px solid #D3D6DA;
    border-radius: 4px;
    font-size: 0.8rem;
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 50px;
}

.green {
    background-color: #6AAA65;
    color: #FFFFFF;
    border: 2px solid #6AAA65;
}

.yellow {
    background-color: #C9B458;
    color: #FFFFFF;
    border: 2px solid #C9B458;
}

.light-grey {
    background-color: #D3D6DA;
}

.dark-grey {
    background-color: #787C7E;
    color: #FFFFFF;
    border: 2px solid #787C7E;
}